<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
      
        @RenderBody()
      

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/scripts/utilities")
        @Scripts.Render("~/bundles/scripts/highcharts")
        @Scripts.Render("~/bundles/scripts/exporting")
        @Scripts.Render("~/bundles/scripts/graphs")
        @Scripts.Render("~/bundles/scripts/knockout")
        @Scripts.Render("~/bundles/scripts/binder")

        @RenderSection("scripts", required: false)
    </body>
</html>
